*{
    margin: 0px;
}
body {
    background-color: rgba(255, 225, 196, 0.637);
    font-family: Helvetica, Arial, sans-serif;
}

.container{

    margin-left: 18%;
    margin-right: 18%;
}

footer{
    padding-top: 1em;
    padding-bottom: 1em;

}
header{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.datos_personales{

    float: left;
    padding-top: 1emº;
}
h2{
    text-align: left;


}
h4{
    padding-bottom: 1em;
}
.mifoto {

    float: right;;

}

.mi_nombre{


    font-weight: bold;
}
.formacion{
    margin-top: 200px;
    position: relative;
}
p{
    padding-bottom: 0.5em;
}